/*-----------------------------------------------Header---------------------------------------------------------------------------*/

header {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    padding: 1.5%;
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    border: 2px, solid, #0B090A;
    border-radius: 50px;
    z-index: 6969;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: #0B090A;
}

.logoImg {
    position: absolute;
    top: -20%;
    left: 15%;
}

.blue-strip {
    background: linear-gradient(to bottom, #3C6ECF, #143169);
    width: 80px;
    min-height: 200vh;
    position: fixed;
    left: 48.5%;
    z-index: -6969;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------Aeronautical 3D Modeling---------------------------------------------------------*/

.aeronautical3DModeling {
    padding-top: 3%;
    display: flex;
    justify-content: center;
}

.a3mContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.a3mContent p {
    width: 60%;
    padding-top: 5%;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------Simulation & Prototyping---------------------------------------------------------*/

.simulationPrototyping {
    display: flex;
    justify-content: center;
    margin-top: -10%;
}

.sPContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.sPContent p {
    width: 60%;
    padding-top: 5%;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------CAD Conversion & Optimization----------------------------------------------------*/

.ConversionOptimization {
    position: relative;
}

.ConversionOptimization img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1000;
}

.ConversionOptimization h4 {
    position: absolute;
    top: 10%;
    left: 20%;
}

.ConversionOptimization p {
    position: absolute;
    bottom: 20%;
    right: 20%;
    width: 30%;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------Structural Analysis & Validation-------------------------------------------------*/

.structuralAnalysisValidation {
    display: flex;
    justify-content: center;
    position: relative;
}

.SAVContent {
    background: rgb(44, 43, 43, 0.6);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 30px;
    color: #D3D3D3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.SAVContent p {
    width: 90%;
    padding-top: 5%;
    text-align: center;
}

.structuralAnalysisValidation img {
    position: absolute;
    right: 5%;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------Footer---------------------------------------------------------------------------*/

footer {
    background-color: #0B090A;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

footer p {
    color: #D3D3D3;
    text-align: center;
    width: 60%;
}

footer button {
    border: 2px, solid, #D3D3D3;
    border-radius: 5px;
    padding: 5px;
    padding-left: 100px;
    padding-right: 100px;
    letter-spacing: 2px;
}